# aliases
alias gc="git commit -m"
alias gs="git status"
alias fs="foreman start"
alias rs="rails server"
alias fds="make run"
alias ggpull='git pull origin (__git.current_branch)'
alias ggpush='git push origin (__git.current_branch)'
alias p="pnpm"

# variables
export RAILS_ENV="development"
export PORT='3000'
export EDITOR='code'
